body{
    font-family: Arial; /* フォントを Arialにする */
    text-align: center; /* 文字を中央ぞろえにする */
}

header{
    margin-bottom: 100px; /* ヘッダーの下部に余白を作る */
}

h1{
    background-color: #000;     /* 背景色を黒にする */
    color: #fff;                /* 文字を白にする */
    margin: 0;                    /* 余白をなくす */
    padding: 10px;                /* 文字サイズを 18pxにする */
    font-size: 18px;              /* 文字サイズを18pxにする */
}

.date {
    font-size: 300%;
    font-family: 'Time New Roman', Times, serif;
}